



















/****************** RESPONSIVE (  medium devices) **********************/


@media screen and (max-width: 1024px) {
    .porfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

}

/****************** RESPONSIVE (  small devices) **********************/


@media screen and (max-width: 600px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }


}